# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Local terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
*.tfvars.json
